@use "../../styles/all";

.hazard {
  height: calc(#{all.$squareSize} * 0.6);
  width: 100%;
  @include all.neon(all.$hazardColor, all.$hazardColorLight);

  .icon-with-shadow {
    font-size: all.$fontSize3;
  }
}
