@use "../../styles/all";

.player {
  height: #{all.$squareSizeRemScale - 1}rem;
  width: #{all.$squareSizeRemScale - 1}rem;
  @include all.neon(all.$playerColor, all.$playerColorLight);
  border-radius: 50%;
  z-index: 1000;
}
