@use "../../styles/all";

.velocity-indicator {
  height: 100%;
  width: 100%;
  @include all.flex-row();

  .magnitude, .icon-container {
    font-size: all.$fontSize3;
    color: all.$white;
    margin: 0 all.$spaceExtraSmall;
    position: relative;
    transform: translateY(-0.1em);
  }
}
