@use "../../styles/all";

.velocity-indicator {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .magnitude, .icon-container {
    font-size: all.$fontSize3;
    color: all.$white;
    margin: 0 all.$spaceExtraSmall;
    position: relative;
    transform: translateY(-0.1em);
  }
}
