@use "../../styles/all";

$squareDepth: 10px;
$halfSquareDepth: $squareDepth / 2;

.world {
  position: relative;

  .world-click-listener, .world-pieces-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
  }

  .world-click-listener {
    cursor: pointer;
    z-index: 100;
  }

  .world-piece-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: top all.$transition, left all.$transition;

    &.bounce {
      animation: pop-up 0.5s ease-in-out, shadow-fade 0.5s ease-in-out;
    }
  }

  .world-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    &:last-child {
      .world-square {
        &:after {
         border-bottom: 1px solid all.$sunbeamSoft;
        }
      }
    }
  }

  .world-square {
    width: 100%;
    position: relative;
    background-color: all.$black;

    &:first-child {
      &:after {
        border-left: 1px solid all.$sunbeamSoft;
      }
    }

    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: inherit;
      border: 1px solid all.$sunbeamSoft;
      border-bottom: 0;
      border-left: 0;
    }
  }
}
