@use "../../styles/all";

$pieceMoveSpeed: 0.3s;

@mixin candy-cane-background($deg: 135deg, $tintColor: rgba(0,0,0,0.2)) {
  background-image: linear-gradient($deg,
          transparent 0, transparent 25%,
          $tintColor 25%, $tintColor 50%,
          transparent 50%, transparent 75%,
          $tintColor 75%, $tintColor 100%,
  )
}

.world {
  position: relative;

  .world-event-listener, .world-pieces-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: all.$squareSize 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    overflow: hidden;
  }

  .world-pieces-container-inner {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: visible;
  }

  .world-event-listener {
    cursor: pointer;
    z-index: 200;
  }

  .world-piece-container {
    height: all.$squareSize;
    width: all.$squareSize;
    position: absolute;
    @include all.flex-row();
    transition: top $pieceMoveSpeed linear, left $pieceMoveSpeed linear;

    &._warped {
      transition: none;
    }

    &.bounce {
      animation: pop-up 0.5s ease-in-out, shadow-fade 0.5s ease-in-out;
    }

    &.velocity-2 {
      transition-duration: calc($pieceMoveSpeed / 2);
    }
    &.velocity-3 {
      transition-duration: calc($pieceMoveSpeed / 3);
    }
    &.velocity-4 {
      transition-duration: calc($pieceMoveSpeed / 4);
    }
  }

  $shineWidth: 3px;

  .world-row-margin {
    width: calc(100% - 2 * #{all.$squareSize});
    margin: 0 all.$squareSize;
    height: all.$squareSize;
    position: relative;
    background: linear-gradient(0deg, all.$sunbeamSoft, transparent 50%);
    border-bottom: $shineWidth solid all.$sunbeamHard;

    &.top {
      width: 100%;
      margin: 0;

      &:before, &:after {
        content: '';
        top: 50%;
        position: absolute;
        width: 6rem;
        height: all.$squareSize;
        background: all.$black;
      }

      &:before {
        left: calc(-#{all.$squareSize / 6});
        transform: rotateZ(60deg);
      }

      &:after {
        right: calc(-#{all.$squareSize / 6});
        transform: rotateZ(-60deg);
      }
    }

    &.bottom {
      position: absolute;
      left: 0;
      z-index: 1000;
      bottom: all.$squareSize;
      background: linear-gradient(0deg, all.$sunbeamSoft, transparent 30%);
    }
  }

  .world-grid-container {
    width: 100%;
    height: 100%;
  }

  .world-row {
    width: 100%;
    @include all.flex-row(0);
    justify-content: space-evenly;

    &:last-child {
      .world-square {
        &:after {
         border-bottom: 1px solid all.$sunbeamExtraSoft;
        }
      }
    }
  }

  .world-square {
    height: all.$squareSize;
    width: all.$squareSize;

    position: relative;
    background-color: all.$worldColor;

    &:first-child {
      &:after {
        border-left: 1px solid all.$sunbeamExtraSoft;
      }
    }

    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: inherit;
      border: 1px solid all.$sunbeamExtraSoft;
      border-bottom: 0;
      border-left: 0;
    }

    &:last-child {
      .out-of-bounds-overlay {
        &:after {
          @include candy-cane-background(45deg)
        }

        &:before {
          background: linear-gradient(270deg, all.$black, transparent) !important;
        }
      }
    }
  }

  .out-of-bounds-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;

    &:after {
      content: '';
      @include all.fixed-overlay();
      position: absolute;
      @include candy-cane-background()
    }
    &:before {
      content: '';
      @include all.fixed-overlay();
      position: absolute;
      background: linear-gradient(90deg, all.$black, transparent);
    }
  }
}
