@use "../../styles/all";

$pieceMoveSpeed: 0.3s;

.world {
  position: relative;

  .world-click-listener, .world-pieces-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
  }

  .world-click-listener {
    cursor: pointer;
    z-index: 100;
  }

  .world-piece-container {
    height: all.$squareSize;
    width: all.$squareSize;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    transition: top $pieceMoveSpeed linear, left $pieceMoveSpeed linear;

    &._warped {
      transition: none;
    }

    &.bounce {
      animation: pop-up 0.5s ease-in-out, shadow-fade 0.5s ease-in-out;
    }

    &.velocity-2 {
      transition-duration: calc($pieceMoveSpeed / 2);
    }
    &.velocity-3 {
      transition-duration: calc($pieceMoveSpeed / 3);
    }
    &.velocity-4 {
      transition-duration: calc($pieceMoveSpeed / 4);
    }
  }

  .world-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    &:last-child {
      .world-square {
        &:after {
         border-bottom: 1px solid all.$sunbeamExtraSoft;
        }
      }
    }
  }

  .world-square {
    height: all.$squareSize;
    width: all.$squareSize;

    position: relative;
    background-color: all.$worldColor;

    &:first-child {
      &:after {
        border-left: 1px solid all.$sunbeamExtraSoft;
      }
    }

    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: inherit;
      border: 1px solid all.$sunbeamExtraSoft;
      border-bottom: 0;
      border-left: 0;
    }
  }
}
