/* Basic utility colors */

$black: #2c2a2d;
$nearBlack: #333034;
$veryDarkGrey: #4e494f;
$darkGrey: #7d7a7f;
$grey: #a6a1a9;
$lightGrey: #d9d0d2;
$offWhite: #f5f0e4;
$white: #fffcf3;

$shadowExtraSoft: rgba($black, 0.10);
$shadowSoft: rgba($black, 15);
$shadow: rgba($black, 0.50);
$shadowHard: rgba($black, 0.80);
$shadowExtraHard: rgba($black, 0.90);

$sunbeamExtraSoft: rgba($white, 0.10);
$sunbeamSoft: rgba($white, 15);
$sunbeam: rgba($white, 0.50);
$sunbeamHard: rgba($white, 0.80);


$alphaAmount: 0.2;
$primaryColor: #2191ce;
$primaryColorLight: #93d9ff;
$primaryColorShadow: rgba($primaryColor, $alphaAmount);

$secondaryColor: #d79217;
$secondaryColorLight: #ffd994;
$secondaryColorShadow: rgba($secondaryColor, $alphaAmount);

$greenColor: #23b62a;
$greenColorLight: #97ff9c;
$greenColorShadow: rgba($greenColor, $alphaAmount);

$redColor: #ff0062;
$redColorLight: #fc87b6;
$redColorShadow: rgba($redColor, $alphaAmount);

$copyColor: $black;
$copyColorInverse: $white;
$copyColorSoft: $shadowHard;
$copyColorSoftInverse: $sunbeamHard;
$copyColorExtraSoft: $shadow;
$copyColorExtraSoftInverse: $sunbeam;


// World colors
$alphaAmount: -0.8;
$worldColor: $black;

$goalColor: $greenColorShadow;
$goalColorLight: $greenColorLight;

$playerColor: $redColorShadow;
$playerColorLight: $redColorLight;

$hazardColor: $secondaryColorShadow;
$hazardColorLight: $secondaryColorLight;

$platformColor: $primaryColorShadow;
$platformColorLight: $primaryColorLight;

$obstacleColor: #423c3b;
$obstacleColorDark: $obstacleColor;
