@use './colors';

$transitionSpeed: 0.2s;
$transition: $transitionSpeed ease-in-out;

// these should match the rem scale in constants.js
$squareSizeRemScale: 5;
$squareSize: #{$squareSizeRemScale}rem;
