@use '../../styles/all';

.you-lost-overlay {
  h1 {
    font-size: 3rem;
    color: all.$redColor;
    text-align: center;
  }

  .controls {
    @include all.flex-row();
    margin-top: all.$spaceLarge;
    justify-content: space-between;
  }
}
