@use "../../../styles/all";

.tutorial-tip {
  .icon-wrapper {
    text-align: center;
    margin: all.$spaceMedium;
    font-size: all.$fontSize1;
  }

  .green-play {
    @include all.hover-cta();
    color: all.$greenColorLight;
  }
}
