@use '../../styles/all';

.moves-input-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  .moves-input-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: all.$fontSize1;

    .icon-with-shadow {
      padding: all.$spaceSmall;
      margin: all.$spaceSmall;
    }
  }

  .moves-queue {
    font-size: all.$fontSize3;
    .icon-with-shadow {
      display: inline-block;
      color: all.$ctaColor;
      padding: all.$spaceExtraSmall;
    }
  }
}
