@use '../../styles/all';

.moves-input-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  .moves-input-buttons {
    @include all.flex-row(0);
    width: 100%;
    font-size: all.$fontSize1;

    .icon-container {
      color: all.$white;
      padding: all.$spaceSmall;
      margin: all.$spaceSmall;

      &.play-button {
        color: all.$greenColorLight;
      }

      &.undo-button {
        color: all.$redColorLight;
      }
    }

  }

  $collapsedHeight: 30px;
  $expandedHeight: 50px;
  $collapsedMargin: calc(calc($expandedHeight - $collapsedHeight) / 2);
  $collapsedHorizontalMargin: calc($collapsedMargin + #{all.$spaceSmall});
  .moves-queue {
    @include all.flex-row(0);
    flex-wrap: wrap;
    font-size: all.$fontSize3;

    .icon-container {
      @include all.flex-row();
      color: all.$grey;
      height: $collapsedHeight;
      width: $collapsedHeight;
      margin: $collapsedMargin $collapsedHorizontalMargin;
      transition: all all.$transitionSpeed;
      border-style: solid;
      border-width: 1px;
      border-color: transparent;
      border-radius: 0;

      &.past {
        color: all.$veryDarkGrey;
      }

      &.active {
        height: $expandedHeight;
        width: $expandedHeight;
        border-radius: all.$borderRadiusSmall;
        margin: 0 all.$spaceSmall;
        font-size: all.$fontSize1;
        border-color: all.$white;
        color: all.$white;
      }
    }
  }
}
