@use "../../styles/all";

.player {
  height: 50%;
  width: 50%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 20%, all.$playerColor, all.$playerColorDark);
  box-shadow: 0 0.5em 1em all.$shadow;
}
