@use "../../styles/all";

$shiftAmount: 3px;

.button-container {
  cursor: pointer;
  font-size: all.$fontSize4;
  transition: all all.$transition;
  color: all.$copyColorInverse;

  & > div {
    padding: all.$spaceSmall all.$spaceMedium;
  }

  @include all.neon(all.$primaryColorShadow, all.$primaryColorLight);
  margin: 0;
  &:hover {
    @include all.pulse-border(all.$primaryColorLight);
  }

  &.secondary {
    @include all.neon(all.$greenColorShadow, all.$greenColorLight);
    margin: 0;
    &:hover {
      @include all.pulse-border(all.$greenColorLight)
    }
  }

  &.tertiary {
    @include all.neon(all.$secondaryColorShadow, all.$secondaryColorLight);
    margin: 0;
    &:hover {
      @include all.pulse-border(all.$secondaryColorLight)
    }
  }

  &.destructive {
    @include all.neon(all.$redColor, all.$redColorLight);
    margin: 0;
    &:hover {
      @include all.pulse-border(all.$redColorLight)
    }
  }

  &.disabled {
    background-color: all.$darkGrey;
    cursor: not-allowed;
    button {
      cursor: not-allowed;
      background-color: all.$grey;
      color: all.$nearBlack;
    }

    &:hover {
      animation: none !important;
    }
  }
}
